<!-- 关于页模板 -->
<div class="about-container">
  <h1 class="page-title">
    <i class="fa fa-user"></i> 关于
  </h1>
  
  <!-- 关于页内容 -->
  <div class="about-content">
    <%- page.content %>
  </div>
</div>
